<div class="content-wrapper" >
  <section class="content-header">
    <h1>
      Unapproved Transactions
    </h1>
  </section>
  <section class="content">
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <tr *ngIf="content">
          <th style="text-align: center;">Transaction Name</th>
          <th style="text-align: center;">Expene Amount</th>
          <th style="text-align: center;">Expense Type</th>
          <th style="text-align: center;">Transaction Date</th>
          <th></th>
          <th></th>
        </tr>
        <tr *ngFor="let i of this.transactionService.unapproved">
          <td align="center">{{i.transactionName}}</td>
          <td align="center">{{i.amount}}</td>
          <td align="center">{{i.expenseType}}</td>
          <td align="center">{{i.expenseDate | date}}</td>                    
          <td align="center"><button [disabled]="!(checkGH(i))" class="btn btn-sm btn-info" data-toggle="modal" data-target="#confirmMove" (click)="confirmMove(i)">Move To Initial Transactions</button></td>
          <td align="center"><button class="btn btn-sm btn-info" (click)="onView(i)" data-toggle="modal" data-target="#view">View Details</button></td>
        </tr>
      </table>
      <div *ngIf="!content">
        <h4>No unapproved transactions are currently available.</h4>
      </div>
    </div>      
  </section>
</div>

<div class="modal" id="view">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header" style="background-color: #357ca5; color: white;">
        <button type="button" class="close" data-dismiss="modal" >
                  <span >&times;</span></button>        
        <h4 class="modal-title">Transaction Details</h4>
      </div>
      
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6"><b>Transaction Name:</b></div>
            <div class="col-sm-6">{{selected.transactionName}}</div>
          </div><br>
          <div class="row">
            <div class="col-sm-6"><b>Expense Amount</b></div>
            <div class="col-sm-6">{{selected.amount}}</div>
          </div><br>
          <div class="row">
            <div class="col-sm-6"><b>Transaction Date:</b></div>
            <div class="col-sm-6">{{selected.expenseDate | date}}</div>
          </div><br>
          <div class="row">
            <div class="col-sm-6"><b>Upload Date and Time:</b></div>
            <div class="col-sm-6">{{selected.uploadDate | date:'medium'}}</div>
          </div><br>                                      
          <div class="row">
            <div class="col-sm-6"><b>Expense Type:</b></div>
            <div class="col-sm-6">{{selected.expenseType}}</div>
          </div><br>
          <div class="row">
            <div class="col-sm-6"><b>Comments:</b></div>
            <div class="col-sm-6">{{selected.comments}}</div>
          </div><br>          
          <div class="row"><div class="col-sm-12"><b>Members involved:</b></div></div>
          <div class="row rows" *ngFor="let j of selected.initial">
            <div class="col-sm-6">{{j.email}}</div>
            <div class="col-sm-6">{{j.amount}}</div>
          </div><br>
        </div>

        <div class="modal-footer">
            <button *ngIf="(checkGH(selected) || checkUser(selected))" type="button" class="btn btn-sm" (click)="confirmDelete()" style="background-color: #357ca5; color: white;" data-toggle="modal" data-target="#confirmDeleteBill">Delete Transaction</button>         
            <button type="button" class="btn btn-sm" data-dismiss="modal" style="background-color: #357ca5; color: white;">Close</button>
        </div>
    </div>
  </div>
</div>


<div class="modal" id="confirmDeleteBill">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #357ca5; color: white;">
        <button type="button" class="close" data-dismiss="modal" >
                  <span >&times;</span></button>        
        <h4 class="modal-title" align="center">Are you sure you want to delete this bill? Once deleted, it cannot be brought back for polling.</h4>
      </div>
      <div class="modal-footer">
          <button align="center" class="btn btn-sm btn-danger" (click)="onDelete(selected)">Confirm Delete<span class="glyphicon glyphicon-trash"></span></button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="confirmMove">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #357ca5; color: white;">
        <button type="button" class="close" data-dismiss="modal" >
                  <span >&times;</span></button>        
        <h4 class="modal-title" align="center">Are you sure you want to move this bill to Initial transactions? If moved, it will be brought back for polling.</h4>
      </div>
      <div class="modal-footer">
          <button align="center" class="btn btn-sm btn-danger" (click)="onMove(selectedBill)">Agree <span class="glyphicon glyphicon-trash"></span></button>
      </div>
    </div>
  </div>
</div>