<div class="content-wrapper" >
  <section class="content-header">
    <h1>
      Approved Transactions
    </h1>
  </section>
  <section class="content">
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <tr *ngIf="content">
          <th style="text-align: center;">Transaction Name</th>
          <th style="text-align: center;">Expense Amount</th>
          <th style="text-align: center;">Expense Type</th>
          <th style="text-align: center;">Transaction Date</th>
          <th></th>
          <th></th>
        </tr>
        <tr *ngFor="let i of this.transactionService.approved">
          <td align="center">{{i.transactionName}}</td>
          <td align="center">{{i.amount}}</td>
          <td align="center">{{i.expenseType}}</td>
          <td align="center">{{i.expenseDate  | date}}</td>                    
          <td align="center"><button [disabled]="checkPay(i)" class="btn btn-sm btn-info" data-toggle="modal" data-target="#pay" (click)="onPayInit(i)">Pay</button></td>
          <td align="center"><button class="btn btn-sm btn-info" (click)="onView(i)" data-toggle="modal" data-target="#view">View</button></td>
        </tr>
      </table>
      <div *ngIf="!content">
        <h4>No approved transactions are currently available.</h4>
      </div>
    </div>      
  </section>
</div>

<div class="modal" id="view">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header" style="background-color: #357ca5; color: white;">
        <button type="button" class="close" data-dismiss="modal" >
                  <span >&times;</span></button>        
        <h4 class="modal-title">Transaction Details</h4>
      </div>
      
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6"><b>Transaction Name:</b></div>
            <div class="col-sm-6">{{selected.transactionName}}</div>
          </div><br>
          <div class="row">
            <div class="col-sm-6"><b>Expense Amount:</b></div>
            <div class="col-sm-6">{{selected.amount}}</div>
          </div><br>
          <div class="row">
            <div class="col-sm-6"><b>Transaction Date:</b></div>
            <div class="col-sm-6">{{selected.expenseDate | date}}</div>
          </div><br>
          <div class="row">
            <div class="col-sm-6"><b>Upload Date and Time:</b></div>
            <div class="col-sm-6">{{selected.uploadDate | date:'medium'}}</div>
          </div><br>                                      
          <div class="row">
            <div class="col-sm-6"><b>Expense Type:</b></div>
            <div class="col-sm-6">{{selected.expenseType}}</div>
          </div><br>
          <div class="row">
            <div class="col-sm-6"><b>Comments:</b></div>
            <div class="col-sm-6">{{selected.comments}}</div>
          </div><br>          
          <div class="row"><div class="col-sm-12"><b>Members involved:</b></div></div>
          <div class="row rows" *ngFor="let j of selected.members">
            <div class="col-sm-6">{{j.email}}</div>
            <div class="col-sm-6">{{j.amount}}</div>
          </div><br>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-sm" data-dismiss="modal" style="background-color: #357ca5; color: white;">Close</button>
        </div>
    </div>
  </div>
</div>

<div class="modal" id="pay">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header" style="background-color: #357ca5; color: white;">
        <button type="button" class="close" data-dismiss="modal" >
                  <span >&times;</span></button>        
        <h4 class="modal-title">Make Payment</h4>
      </div>
      
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6"><b>Current Balance:</b></div>
          <div class="col-sm-6">{{userService.user.balance}}</div>
        </div><br>
        <div class="row">
          <div class="col-sm-6"><b>Transaction Amount:</b></div>
          <div class="col-sm-6">{{amount}}</div>
        </div><br>
        <div class="row" *ngIf="userService.user.balance - amount >= 0">
          <div class="col-sm-6"><b>Balance After Payment:</b></div>
          <div class="col-sm-6">{{userService.user.balance - amount}}</div>
        </div><br>
        <div [ngClass]="{'has-success': (userService.user.balance - amount >= 0),'has-error': (userService.user.balance - amount < 0)}">
          <label *ngIf="userService.user.balance - amount < 0" class="control-label">Insufficient Balance</label>
        </div>
      </div>                  
      
      <div class="modal-footer">
          <button *ngIf="userService.user.balance - amount < 0" (click)="onWallet()" class="btn" data-target="#wallet" data-toggle="modal" style="background-color: #357ca5; color: white;">Add Money To Wallet</button>
          <button *ngIf="userService.user.balance - amount >= 0" (click)="onPay()" class="btn" style="background-color: #357ca5; color: white;">Pay</button>
          <button type="button" class="btn " data-dismiss="modal" style="background-color: #357ca5; color: white;">Close</button>
      </div>

    </div>
  </div>
</div>